/* Google Fonts laden */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    background-color: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

main h1 {
    text-align: center;
}

main p {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

article {
    padding: 1em;

}

article p {
    text-align: justify;
    line-height: 1.2em;
    margin-right: 35px;
    margin-left: 35px;
}

article figure img {
    width: 100%;
}

a {
    color: black;
}

.datensatz_table {
    font-size: 0.8em;
    border: 1px solid rgba(61, 89, 51, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(61, 89, 51, 0.39);
    padding: 10px;
    width: 500px;
    text-align: justify;
    border-radius: 10px;
}

.link_table {
    border: 1px solid rgba(61, 89, 51, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(61, 89, 51, 0.1);
    padding: 27px;
    width: 800px;
    border-radius: 10px;
}

.moorgraphik {
    width: 450px;
    font-size: 0.7em;
}

.datensatzliste {
    text-align: left;
}

.imglinks {

    width: 100px;
    padding: 3px;
    font-size: 0.7em;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

}

.quellen {
    font-size: 0.8em;
    margin-right: 35px;
}

.green {
    color: rgba(61, 89, 51);
}



#logo {
    width: 180px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 3%;

}


img.banner {
    width: 100%;
}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 1em;
}


footer .next {
    float: right;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}