/* Stile für das Wetterstationen Tirol Beispiel */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
}

article p {
    text-align: justify;
    line-height: 1.2em;
    margin-right: 35px;
    margin-left: 35px;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

main h1 {
    text-align: center;
}

header {
    text-align: center;
}

main {
    max-width: 1200px;
    margin: auto;
}

main h2 {
    text-align: absolute;  
    left: -100px;
    border: 1px solid rgba(61, 89, 51, 255);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);*/
    background-color: rgba(61, 89, 51, 0.1);
    padding: 10px;
    width: 650px;
    border-radius: 0px;
    
}

header #logo {
    position: relative;
    width:90px;
    height:90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    
}



article {
    margin-top: 1em;
}

article #map {
    width: 100%;
    height: 600px;
    border: 1px solid gray;
}

footer {
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-top: 0.5em;
}

footer nav {
    display: inline-block;
}

/* Stile für die Wetterstationen */

.aws-div-icon span {
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.3em;
    border: 1px solid silver;
    text-shadow: 
        -1px -1px 0 white,
        -1px 1px 0 white,
        1px -1px 0 white,
        1px 1px 0 white;
    
    display: inline-block;
    transform: translate(-30%, -50%);


}

img.banner {
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#logo {
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    }