/* Stile für mapsite */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:wght@300&display=swap');

body {
    background-color: #eeeeee;
    font-family: "Open Sans", sans-serif;
}

a {
    color: black;
}

main {
    background-color: white;
    max-width: 1024px;
    margin: auto;
}

main h1 {
    text-align: center;
}

header {
    text-align: center;
}

main h2 {
    text-align: absolute;  
    left: -100px;
    border: 1px solid rgba(61, 89, 51, 255);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);*/
    background-color: rgba(61, 89, 51, 0.1);
    padding: 10px;
    width: 650px;
    border-radius: 0px;
    
}

header #logo {
    position: relative;
    width:90px;
    height:90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    
}

article {
    padding: 1em;

}

article #map {
    width: 100%;
    height: 600px;
    border: 1px solid gray;
}

article p {
    text-align: justify;
    line-height: 1.2em;
    margin-right: 35px;
    margin-left: 35px;
}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 1em;

}

footer .next {
    float: right;
}


img.banner {
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

footer #logo {
    position: absolute;
    left: 430px;
    bottom: -820px;
    width: 80px;
    height: 80px;
    }



footer {
        border-top: 1px solid black;
        padding: 1em 2em 3em 1em;
    }